html {
  height: 100%;
}

body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#animation {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none;
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.big-word {
  text-transform: uppercase;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.small-word {
  font-size: 0.8em;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  letter-spacing: 0.2em;
}